<div class="action_bar_container">

    <span>@Title</span>

    <div class="actions_container">
        @ChildContent
    </div>

</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
