@using Components.Buttons

<div class="container d-flex flex-row justify-content-between p-0 mb-2 mt-2">
    <h5>@Title</h5>
    <div class="d-flex flex-row justify-content-between p-0 action-margin">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
