<RTooltip Text=@Message Position=@Position>

    <div class="info-container">
        <span class="@CssIcon"></span>
    </div>

</RTooltip>

@code {
    [Parameter] public string Message { get; set; } = string.Empty;
    [Parameter] public string Position { get; set; } = "left";
    [Parameter] public string CssIcon { get; set; } = "bi bi-info-lg";
}
