.dialog-wrapper
{
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: none;
    overflow: hidden;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container{
    width: 60%;
    min-height: 150px;
    background-color: white;
    position: absolute;
}

.dialog-header {
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    font-size: 1.3rem;
    color: black;
}


.dialog-header .is-dragging {
    display: none;
}

.dialog-body{
    padding: 20px 10px 20px 10px;
    max-height: 500px;
    overflow-x: auto;
}

.dialog-close:hover{
    cursor: pointer;
}

.dialog-footer {
    width: 100%;
    height: auto;
    min-height: 40px;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 10px;
    font-size: 1.3rem;
}