<div class="switch_case" @onclick=ChangePosition >

    <div class="switch-inner @boolClass">

        <div class="swithc-on">
            <p>@OnText</p>
        </div>

        <div class="swithc-off">
            <p>@OffText</p>
        </div>

    </div>

</div>

@code {
    private string? boolClass;

    [Parameter] public bool Value { get; set; }

    [Parameter] public string OffText { get; set; } = string.Empty;
    [Parameter] public string OnText { get; set; } = string.Empty;

    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        var param = parameters.TryGetValue<bool>("Value", out bool val);
        boolClass = val ? "on" : "off";

        return base.SetParametersAsync(parameters);
    }

    private void ChangePosition()
    {
        Value = !Value;
        boolClass = Value ? "on" : "off";
        ValueChanged.InvokeAsync(Value);
    }
}
