<div class="switch_case" @onclick=ChangePosition >

    <div class="switch-inner">

        <div class="switch @($"switch-{ (Value is true ? "on" : "off") }")">
        </div>

    </div>

</div>

@code {
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        var param = parameters.TryGetValue<bool>("Value", out bool val);

        return base.SetParametersAsync(parameters);
    }

    private void ChangePosition()
    {
        Value = !Value;
        ValueChanged.InvokeAsync(Value);
    }
}
