<button type="button" class="btn btn-add" @onclick=@(async () => await onClick.InvokeAsync()) 
    @attributes=Attributes disabled="@(Disabled?.Invoke())">

    @if (string.IsNullOrWhiteSpace(CssIcon) is false) { <i class="icon @CssIcon"></i> }
    @if (string.IsNullOrWhiteSpace(CssIcon) is false && string.IsNullOrWhiteSpace(Text) is false ) { <span class="spacer" ></span> }
    @if (string.IsNullOrWhiteSpace(Text) is false) { <span>@Text</span> }

</button>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? Attributes { get; set; }

    [Parameter] public string CssIcon { get; set; } = string.Empty;
    [Parameter] public string Text { get; set; } = string.Empty;
    [Parameter] public EventCallback onClick { get; set; }
    [Parameter] public Func<bool>? Disabled { get; set; }
}
