.btn-discard {
    border: 1px solid var( --button-danger-border-color);
    background-color: white;
    display: flex;
    align-items: center;
    color: var( --button-danger-text-color);
    padding: 3px 10px 3px 10px;
    min-width: 150px;
    justify-content: space-around;
}

.btn-discard:hover {
    color: var(--button-danger-text-color);
}

.btn-discard > i {
    color: var(--button-danger-text-color);
    padding-right: 5px;
    display: flex;
}
