.btn-next {
    display: flex;
    align-items: center;
    color: var(--button-text-color);
    background-color: var(--button-primary-color);
    border: none;
    padding: 3px 10px 3px 10px;
    min-width: 150px;
    justify-content: space-around;
}

.btn-next > i {
    padding-right: 5px;
    display: flex;
}