<button type="button" class="btn btn-next" @onclick=@(async () => await onClick.InvokeAsync())>
    <i class="bi bi-arrow-right"></i>
    <span>@Text</span>
</button>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public EventCallback onClick { get; set; }
}