<button type="submit" form=@FormId class="btn btn-save" @onclick=@(async () => await onClick.InvokeAsync()) 
    disabled="@(Disabled?.Invoke())" @attributes=Attributes >

    @if(string.IsNullOrWhiteSpace(CssIcon) is false) { <i class="icon @CssIcon"></i> }
    @if(string.IsNullOrWhiteSpace(Text) is false) { <span>@Text</span> }

</button>


@code {
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? Attributes { get; set; }

    [Parameter] public string FormId { get; set; } = string.Empty;
    [Parameter] public string CssIcon { get; set; } = string.Empty;
    [Parameter] public string Text { get; set; } = string.Empty;
    [Parameter] public EventCallback onClick { get; set; }
    [Parameter] public Func<bool>? Disabled { get; set; }
}