.btn-save {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    padding: 3px 10px 3px 10px;
    min-width: 150px;
    justify-content: space-around;
}

.btn-save > i {
    padding-right: 5px;
    display: flex;
}

.btn-save:disabled{
    pointer-events: all !important;
    cursor: not-allowed;
}
