@page "/buttons"

@rendermode InteractiveServer

@using Rolfin.Blazor.Components.Loading

<ActionBar Title="Buttons" />

<div style="display: flex; flex-direction: row">

    <RTooltip Position="right" Text="Testing this one!! asdgagasd dvaergwerg sdfgvse h rtyhd fgh srtgh dfgh sg f">
        <AddButton CssIcon="bi bi-plus" />
    </RTooltip>

    <span style="width: 20px;" ></span>

    <RTooltip Position="top-right" Text="Testing this one!! asdgagasd dvaergwerg sdfgvse h rtyhd fgh srtgh dfgh sg fTesting this one!! asdgagasd dvaergwerg sdfgvse h rtyhd fgh srtgh dfgh sg fTesting this one!! asdgagasd dvaergwerg sdfgvse h rtyhd fgh srtgh dfgh sg f">
        <DiscardButton Text="Discard" />
    </RTooltip>

    <div style="height: 50px;">
        <RTooltip Position="bottom-left" Text="Testing this one!! asdgagasd dvaergwerg sdfgvse h rtyhd fgh srtgh dfgh sg fTesting this one!! asdgagasd dvaergwerg sdfgvse h rtyhd fgh srtgh dfgh sg fTesting this one!! asdgagasd dvaergwerg sdfgvse h rtyhd fgh srtgh dfgh sg f">
            <DiscardButton Text="Discard" />
        </RTooltip>
    </div>

    <span style="width: 20px;"></span>
    <ApproveButton Text="Approve" />

    <span style="width: 20px;"></span>

    <EditForm Model="model" OnValidSubmit="Submit" >
        <Switch @bind-Value=model.IsOk />
        <button type="submit" >Send</button>
    </EditForm>

</div>

<Info Position="right" Message="Here I'm!!" />

@code {
    TestForm model = new();


    void Submit()
    {

    }

    class TestForm
    {
        public bool IsOk { get; set; } = true;
    }
}
