@page "/buttons"

@rendermode InteractiveServer

@using Rolfin.Blazor.Components.Loading

<ActionBar Title="Buttons" />

<div style="display: flex; flex-direction: row">

    <AddButton CssIcon="bi bi-plus" Text="Add" />

    <span style="width: 20px;" ></span>
    <DiscardButton Text="Discard" />

    <span style="width: 20px;"></span>
    <ApproveButton Text="Approve" />

    <span style="width: 20px;"></span>

    <EditForm Model="model" OnValidSubmit="Submit" >
        <Switch @bind-Value=model.IsOk />
        <button type="submit" >Send</button>
    </EditForm>

</div>


<Info Position="right" Message="Here I'm!!" />
@code {
    TestForm model = new();


    void Submit()
    {

    }

    class TestForm
    {
        public bool IsOk { get; set; } = true;
    }
}
