@page "/tables"

@rendermode InteractiveServer

<ActionBar Title="Tables" />

<Table Items="_rows" >

    <Search Placeholder="Name" />

    <Columns>

        <Column Width="100px">
            <TableAction Color="danger" IconCss="bi bi-plus" />
            <TableAction Color="primary" IconCss="bi bi-x-lg" />
            <TableAction Color="warning" />
        </Column>

        <Column ColumnName="Name" ValueMap="x => x.Name" />
        <Column ColumnName="Country" ValueMap="x => x.Country" />
        <Column ColumnName="Age" ValueMap="x => x.Age" />
        <Column ColumnName="Birthday" ValueMap="x => x.Birthday" />

    </Columns>

    <Pagination Pages="100" CurrentPage="2" />

</Table>

@code {
    List<TableRow> _rows = new()
    {
        new TableRow("Florin", "Romania", 28, new()),
        new TableRow("Adelina", "Romania", 27, new()),
        new TableRow("Catalin", "Romania", 22, new())
    };


    class TableRow
    {
        public TableRow(string name, string country, int age, DateTime birthday)
            => (Name, Country, Age, Birthday) = (name, country, age, birthday);

        public string? Name { get; set; }
        public string? Country { get; set; }
        public int Age { get; set; }
        public DateTime Birthday { get; set; }
    }
}
