
.search-container
{
    width: 50%;
    padding: 10px 0px;
    display: flex;
    justify-content: end;
}

.search-container > input{
    width: 40%;
    min-height: 30%;
}

.input-page-number{
    width: 30px;
    text-align:center;
}

.page-control-container > span:hover{
    cursor: pointer;
}

.page-control-container > input {
    border: none;
    background-color: transparent;
}

.page-control-container {
    width: 50%;
    align-items: center;
    justify-content: end;
}

.items-on-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.items-on-page-container > span {
    margin-right: 5px;
}

.items-on-page-container > select {
    border: none;
    background-color: transparent;
    font-weight: 700;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 48.5px;
}

.table-footer-info {
    width: 50%;
}