@typeparam ListType

<button class="btn btn-@Color table-action" @attributes=Attributes
        @onclick=@(() => onClick()) disabled="@(Disabled?.Invoke(Item))">
    <span style="color: white" class="@IconCss"></span>
    <span>@Name</span>
</button>

@code {
    [CascadingParameter] public ListType Item { get; set; }

    [Parameter] public Action<string> Action { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public string IconCss { get; set; }
    [Parameter] public string Color { get; set; } = "primary";
    [Parameter] public Dictionary<string, object> Attributes { get; set; }
    [Parameter] public Func<ListType, bool> Disabled { get; set; }

    void onClick()
    {
        var itemId = Item.GetType().GetProperty("Id")
            .GetValue(Item).ToString();

        Action?.Invoke(itemId);
    }
}
