@inject ILoadingService service 

<div class="loading-wrapper @showClass">
    <div id="preloader">
        <div id="loader"></div>
    </div>
</div>

@code {
    private string showClass { get; set; }

    protected override void OnInitialized()
    {
        service.SetShowLoader(() => ShowLoader());
        service.SetHideLoader(() => HideLoader());
    }

    private async Task ShowLoader(){
        showClass = "show-loader";
        await InvokeAsync(StateHasChanged);
    }

    private async Task HideLoader()
    {
        showClass = string.Empty;
        await InvokeAsync(StateHasChanged);
    }

}
