@namespace Rolfin.Blazor.Components

<CascadingValue Value="this" Name="_tab">

    @if(_tabs.Any() is true)
    {
        <div class="tabs-header">

                @foreach (var tab in _tabs)
                {
                    <div class="tab-header @(_currentTab.Id == tab.Id ? "active-tab": "")" @onclick=@(() => ChangeTab(tab))>@tab.Name</div>
                }

        </div>

        <div class="tabs-content" >

            @if (_currentTab?.ChildContent is not null)
                @_currentTab.ChildContent

        </div>
    }

    @ChildContent

</CascadingValue>

@code {

    List<RTab> _tabs = new();
    RTab _currentTab = RTab.Empty;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        if(_tabs.Any()) _currentTab = _tabs.First();
    }

    internal void AddTab(RTab tab)
    {
        if (_tabs.Any() == false) _currentTab = tab;
        if(_tabs.Any(x => x.Name.Equals(tab.Name)) is false) _tabs.Add(tab);
        StateHasChanged();
    }

    void ChangeTab(RTab tab)
    {
        _currentTab = tab;
        StateHasChanged();
    }
}
