@namespace Rolfin.Blazor.Components

<div class="slide-container">

    <div @onclick=slideContent class="slide-header">
        <span class="element-left" ></span>
        <span>@Text</span>
        <span class="element-right" ></span>
    </div>

    @if (isShow is true)
    {
        <div class="slide-body">

            @if(ChildContent is not null)
                @ChildContent

        </div>
    }

</div>


@code {
    [Parameter] public string Text { get; set; } = "Show more";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    bool isShow = false;

    void slideContent() => isShow = !isShow;
}
